* {
  box-sizing: border-box;
  background-color: rgb(142, 204, 212);
  margin: 10px;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(red, green, blue) (142, 204, 212);
  font-family: "courier";
}
h1 {
  font-size: 45px;
  color: rgb(68, 41, 120);
}
h2 {
  font-size: 23px;
  color: rgb(68, 41, 120);
}
#board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: rgb(161, 120, 184);
  text-align: center;
  width: 600px;
  height: 600px;
  font-family: courier;
  color: rgb(red, green, blue) (227, 154, 199);
}

.cell {
  margin: 0px;
  font-size: 150px;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: rgb(161, 120, 184);
  color: rgb(227, 154, 199);
}
.cell:nth-child(3n + 2) {
  border-left: 5px solid rgb(251, 222, 163);
  border-right: 5px solid rgb(251, 222, 163);
}
.cell:nth-child(n + 4):nth-child(-n + 6) {
  border-top: 5px solid rgb(251, 222, 163);
  border-bottom: 5px solid rgb(251, 222, 163);
}
#scoreBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(68, 41, 120);
}
.nameSubmit {
  color: rgb(68, 41, 120);
}
